<!DOCTYPE html>
<html>
  <head>
    <title>Algoritmo A*</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> 
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
      .cuadrado {
        max-width:  <%=(0.8*inner)/maximo%>px;
        height:     <%=(0.8*inner)/maximo%>px;
        border: 1px solid black;
        background-color: white;
      }
      .cuadradoDrag {
        max-width:  <%=(0.8*inner)/20%>px;
        height:     <%=(0.8*inner)/20%>px;
        border: 1px solid black;
      } 
      
      .cuadradoSeleccionado {
        max-width:  <%=(0.8*inner)/20%>px;
        height:     <%=(0.8*inner)/20%>px;
        border: 1px solid white;
      }     
      .seleccionado {
        
        transform: translateX(30px);
        transition: transform 0.5s ease-in-out;
      }
      .infoinput[type="number"]::-webkit-inner-spin-button, .infoinput[type="number"]::-webkit-outer-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="mintgreen">
    <div style="height:<%=(0.1*inner)%>px">

    </div>
    <div id="mainRow" data-id="<%=alto%>,<%=ancho%>" class="row justify-content-center ">
      <div class="col-2 p-4 rounded-4 my-auto tarjeta paynesgray">
        <div class=" cara-trasera d-none text-white justificado scrollableDiv ">
          
            <p>
              <div class=" cambridgeblue p-1 rounded-3 text-black d-flex justify-content-center">
                  <strong>Personalizable</strong>
              </div>
              En esta sección podrá elegir el tipo de celda, ya sea arrastrando a la cuadricula, seleccionando o 
              clickando en las teclas: 1,2,3,4 respectivamente, para diseñar el laberinto
            </p>
            <p>
              <div class=" cambridgeblue p-1 rounded-3 text-black d-flex justify-content-center">
                <strong>Información</strong>
              </div>
              Esta sección sirve de leyenda y permite controlar la informacion representada durante la simulación 
              al interacturar con <span class="checkbox-wrapper-2"><input type="checkbox" class="sc-gJwTLC ikxBAC " checked disabled></span>
              
            </p>
            <p>Para ejecutar la <strong>simulación </strong>use los botones:
              <p>
                <span>
                  <button type="button" class="btn btn-primary " style="cursor: default;">Siguiente</button>
                  <span class="  text-center btn btn-warning" style="cursor: default;">
                    <input type="number" value="200"  class="rounded col infoinput" style="height:1.5em; max-width:3em;" readonly>
                    <span class="col">Omitir</span>
                  </span>
                </span>
              </p>
              <p>Puede modificar el tiempo (ms) entre paso y paso al omitir </p>
            </p>
            <p> 
              <button  type="button" class=" btn btn-secondary ">Limpiar</button>
              Vacía la cuadrícula
            </p>
            <p>
              En "información del paso" se observan los nodos que rodean al nodo actual, los cuales, si no están 
              ya, se guardan en lista abierta teniendo en cuenta la distancia:
              <p>\(f(x,y)=g(x,y) + h(x,y)\)</p>
              Pasando el ratón por encima de cada función, su respectivo nodo empezará a parpadear en la cuadrícula.
            </p>
            <p>En "nodo siguiente" se mostrará el nodo que se explorará a continuación, aquel que tenga el mínimo 
              valor de f(x,y) y este guardado en lista abierta, es por eso que en caso de ser un nodo 
              sucesor del nodo en el paso actual, puede no tener el mismo valor que f(x), pues puede 
              llegarse a él con un coste menor desde un nodo ya explorado.
            </p>
          
        </div>
        <div class="  paynesgray  cara-frontal">
          <div class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col d-flex justify-content-center">
              <strong>Personalizable</strong>
            </div>
          </div>
          <div id="divinicio" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="inicio" draggable=true class="cuadradoDrag inicio"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Inicio</span>
            </div>
          </div>
          <div id="divprohibido" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="prohibido" draggable=true class="cuadradoDrag prohibido"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Obstaculo</span>
            </div>
          </div>
          <div id="divfin" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="fin" draggable=true class="cuadradoDrag fin"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Fin</span>
            </div>
          </div>
          <div id="divborrar" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="borrar" draggable=true class="cuadradoDrag borrar"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Borrar</span>
            </div>
          </div>
          <div id="divpenalizacion" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="borrar" draggable=true class="cuadradoDrag penalizacion"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Penalización</span>
            </div>
          </div>
          <div id="divparada" class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="borrar" draggable=true class="cuadradoDrag parada"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Paradas</span>
            </div>
          </div>
          <div class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col d-flex justify-content-center">
              <strong>Información</strong>
            </div>
          </div>
          <div class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="fin" draggable=true class="cuadradoDrag abierta"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Abierta</span>
            </div>
            <div class="col align-items-center d-flex checkbox-wrapper-2">
              <!-- <input id="checkAbierta" type="checkbox" checked> -->
              <input id="checkAbierta" type="checkbox" class="sc-gJwTLC ikxBAC" checked>
            </div>
          </div>
          <div class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="fin" draggable=true class="cuadradoDrag recorrido"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Cerrada</span>
            </div>
            <div class="col align-items-center d-flex checkbox-wrapper-2">
              <input id="checkCerrada" type="checkbox" class="sc-gJwTLC ikxBAC" checked>
            </div>
          </div>
          <div class="row cambridgeblue p-1 rounded-3 my-3">
            <div class="col">
              <div id="fin" draggable=true class="cuadradoDrag final"></div>
            </div>
            <div class="col align-items-center d-flex">
              <span class="text-center">Resultado</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 my-auto">
        <% for (let i = 0; i < alto; i++) { %>
          <div class="row justify-content-center ">
            <% for (let j = 0; j < ancho; j++) { %>
              <div class="col cuadrado " id="<%=i%>,<%=j%>" ><p style="font-size: 10px;"></p></div>
            <% } %>
          </div>
        <% } %>
      </div>
      <div class="col-4 cambridgeblue rounded-4 p-4 justify-content-center position-relative ">
        
        <div class="row">
          <button id="empezar" type="button" class="col m-2 btn btn-primary ">Siguiente</button>
          <div class=" col m-2 btn btn-warning">
            <div class="row text-center">
              <input id="tiempo" type="number" value="200" min="1" max="999" class="rounded col ms-2 me-0" style="height:1.5em; max-width:4.5em;">
              <span id="omitir" class="col ">Omitir</span>
            </div>
          </div>
        </div>
        <div class="row">
          <button id="limpiar" type="button" class="col m-2 btn btn-secondary ">Limpiar</button>
        </div>
        <button onclick="window.location.href='/'" type="button" class="position-absolute bottom-0 end-0 float-end m-2 btn btn-success ">Volver</button>
        <button id="ayuda" type="button" class="position-absolute bottom-0 start-0 float-end m-2 btn btn-light ">Ayuda</button>
        <div class="row">
          <h1>Información del paso</h1>
          <div id="divInfo" class="apricot rounded-4">
            <!-- <p id="informacion">\(f(x)=\sqrt{(a - b)^2 + (c - d)^2}\)</p> -->
              <!-- <p>La raíz cuadrada de \( x \) es: \( \sqrt{x} \)</p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Atención</strong>
          <small>Justo ahora!</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toastMessage" class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/dragdrop.js">
    
    
  </script>  
</html>
